.font-xl {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.font-l {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.font-m {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
}

.font-s {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.font-xs {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
