@import './reset';
@import './fonts';

// uttils
@import 'uttils/mixins';
@import 'uttils/functions';

// lib
@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/swiper-vars.scss';

// sass vars
@import './vars';

:root {
    // fonts
    --font-family-first: 'Inter', 'Roboto', Arial, sans-serif;
    --font-family-second: 'Roboto Flex', 'Roboto', Arial, sans-serif;
    --font-family-third: 'Roboto Mono', 'Roboto', Arial, sans-serif;
    --font-family-fourth: 'TTCommons', 'Roboto', Arial, sans-serif;

    // z-index
    --z-index--100: 100;
    --z-index--200: 200;
    --z-index--300: 300;
    --z-index--400: 400;
    --z-index--500: 500;
    --z-index--basket: 750;
    --z-index--modal: 1000;
    --z-index--highest: 2000;

    // breakpoints
    --mobile: 576px;
    --tablet-m: 743px;
    --tablet: 992px;
    --tablet-lg: 1180px;
    --desktop: 1440px;

    // colors
    --white: #fff;
    --gray_light: #efeef4;
    --gray_main: #5c6970;
    --gray_dark: #2e3438;
    --blue_light: #3625ff;
    --blue_dark: #0c0099;
    --red: #d35151;
}

html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    font-family: var(--font-family-first);
    background: var(--gray_light);
    color: var(--gray_dark);
}

body.lock {
    overflow: hidden;
    touch-action: none;
}

.site {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    &-top {
        flex: 1 0 auto;
    }
    &-bottom {
        flex: 0 1 auto;
    }
}

@import './typography';

// lib
@import './lib/swiper';

// layout
@import './layouts/default';

// base
@import './base/button';
@import './base/small-image';

// global
@import './global/catalog';
@import './global/basket';
@import './global/footer';

// components
@import './components/filters';
@import './components/header';
@import './components/search';
@import './components/button-basket';
@import './components/loader';
@import './components/card';
@import './components/button-close';
