@import './reset';
@import './fonts';

// uttils
@import 'uttils/mixins';
@import 'uttils/functions';

:root {
    // fonts
    --font-family-first: 'Roboto Flex', Arial, sans-serif;
    --font-family-second: 'Roboto Mono', Arial, sans-serif;
    --font-family-third: 'TTCommons', Arial, sans-serif;

    // z-index
    --z-index--100: 100;
    --z-index--200: 200;
    --z-index--300: 300;
    --z-index--400: 400;
    --z-index--500: 500;
    --z-index--modal: 1000;
    --z-index--highest: 2000;

    // breakpoints
    --mobile: 576px;
    --tablet-m: 743px;
    --tablet: 992px;
    --tablet-lg: 1180px;
    --desktop: 1440px;
}

html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    font-family: var(--font-family-first);
}

body.lock {
    overflow: hidden;
    touch-action: none;
}

.site {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    &-top {
        flex: 1 0 auto;
    }
    &-bottom {
        flex: 0 1 auto;
    }
}
