.basket {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
    z-index: var(--z-index--basket);
    &--show {
        opacity: 1;
        pointer-events: initial;
        .basket__inner {
            transform: none;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--gray_light);
        opacity: 0.85;
    }
    &__inner {
        position: relative;
        padding-top: 25px;
        padding-left: 22px;
        padding-right: 20px;
        padding-bottom: 24px;
        z-index: var(--z-index--100);
        background: var(--white);
        max-width: 320px;
        margin-left: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(100%);
    }
    &__list {
        @include list-style-reset;
        width: 100%;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__content {
        flex-grow: 1;
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: -20px;
        overflow-y: auto;
    }
    &__footer {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        row-gap: 13px;
        column-gap: 20px;
    }
    &__positions {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        color: var(--gray_main);
    }
    &__price {
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: var(--gray_dark);
    }
    &__button {
        @extend .button;
        grid-column: span 2;
        border: none;
        height: 40px;
        color: var(--white);
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        color: var(--blue_light);
        margin-bottom: 0;
    }
    &__icon {
        width: 17px;
        height: 14px;
        margin-right: 6px;
        fill: var(--blue_light);
    }
    &__empty {
        margin: auto;
        color: var(--gray_dark);
        font-size: 14px;
    }
    &__item {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;
        min-height: 60px;
        padding-right: 20px;
        &-wrap {
            width: 100%;
            padding-top: 6px;
            padding-bottom: 6px;
            gap: 8px;
        }
        &-title {
            hyphens: auto;
            word-break: break-word;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--delete {
            .basket__delete {
                transform: none;
            }
        }
        &:not(.basket__item--delete) {
            &:hover {
                .basket__delete {
                    transform: translateX(95%);
                    &:hover {
                        transform: translateX(70%);
                    }
                }
            }
        }
    }
    &__delete {
        display: flex;
        align-items: center;
        gap: 8px;
        position: absolute;
        padding-left: 18px;
        padding-right: 18px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--red);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        cursor: pointer;
        border: none;
        transition: transform 0.3s ease;
        transform: translateX(100%);
        &-icon {
            width: 13px;
            height: 14px;
            fill: var(--white);
        }
        &-text {
            color: var(--white);
            transition: opacity 0.2s ease;
            opacity: 0;
            pointer-events: none;
        }
    }
    &__image {
        margin-right: 8px;
        flex-shrink: 0;
    }
    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        color: var(--gray_main);
    }
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
        transform: translate3d(0, 3000px, 0) scaleY(5);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
        transform: translate3d(0, -20px, 0) scaleY(0.9);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
        transform: translate3d(0, 10px, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
        transform: translate3d(0, -5px, 0) scaleY(0.985);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
