.catalog {
    --grid-columns: 4;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(240px, 1fr));
    padding: 1px;
    @include MQmax($tablet) {
        --grid-columns: 3;
    }
    @include MQmax($tablet-m) {
        --grid-columns: 2;
    }
    @include MQmax($mobile) {
        --grid-columns: 1;
    }
    &__empty {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 0;
        text-align: center;
    }
}
