.notification {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: var(--z-index--modal);
    padding-bottom: 20px;
    max-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    &__list {
        width: 260px;
        @include list-style-reset;
        pointer-events: initial;
    }
    &__item {
        display: flex;
        align-items: center;
        background: var(--white);
        min-height: 64px;
        border-radius: 2px;
        box-shadow: 0px 7px 16px 0px rgba(54, 37, 255, 0.09),
            0px 29px 29px 0px rgba(54, 37, 255, 0.08), 0px 65px 39px 0px rgba(54, 37, 255, 0.05),
            0px 115px 46px 0px rgba(54, 37, 255, 0.01), 0px 179px 50px 0px rgba(54, 37, 255, 0);
        background: rgb(255, 255, 255);
        margin-bottom: 20px;

        animation-name: bounceInUp;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    &__image {
        flex-shrink: 0;
    }
    &__info {
        padding-top: 14px;
        padding-bottom: 18px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &-title {
            margin-bottom: 0;
            font-weight: 500;
            hyphens: auto;
            word-break: break-word;
        }
        &-desc {
            color: var(--gray_main);
            margin-bottom: 0;
            font-weight: 500;
            hyphens: auto;
            word-break: break-word;
            @include text-line-camp(2);
        }
    }
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
