.button-basket {
    position: relative;
    border-radius: 4px;
    background: var(--white);
    border: none;
    color: var(--blue_light);
    padding-left: 8px;
    padding-right: 8px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    transition-property: background, color;
    flex-shrink: 0;
    &__icon {
        width: 17px;
        height: 14px;
        fill: var(--blue_light);
        transition: fill 0.3s ease;
        flex-shrink: 0;
    }
    &__count {
        --size: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        border-radius: 20px;
        min-width: var(--size);
        height: var(--size);
        position: absolute;
        top: calc(var(--size) * -0.5);
        left: calc(100% + var(--size) * -0.5);
        background: var(--white);
        color: var(--blue_light);
        font-weight: 500;
    }
    @include MQmin($tablet) {
        &:hover {
            background: var(--blue_light);
            color: var(--white);
            .button-basket__icon {
                fill: var(--white);
            }
        }
    }
    &--not-empty {
        background: var(--blue_light);
        @include MQmin($tablet) {
            color: var(--white);
            .button-basket__icon {
                fill: var(--white);
            }
            &:hover {
                background: var(--blue_dark);
            }
        }
    }
}
