.header {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: var(--gray_light);
    display: flex;
    gap: 8px;
    min-width: 0;
    * {
        min-width: 0;
    }
    &__wrapper {
        position: relative;
        display: flex;
        gap: 8px;
        padding-left: 36px;
        .search {
            position: absolute;
            top: 0;
            left: 0;
            z-index: var(--z-index--100);
        }
    }
}
