.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    &__icon {
        width: 15px;
        aspect-ratio: 1;
        fill: var(--gray_dark);
        margin-right: 7px;
        animation-name: loader;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    &__text {
        color: var(--gray_dark);
    }

    @keyframes loader {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
