.search {
    --hide-size: 28px;
    width: var(--hide-size);
    display: flex;
    gap: 5px;
    will-change: width;
    background: var(--white);
    border-radius: 4px;
    overflow: hidden;
    &__button {
        width: var(--hide-size);
        aspect-ratio: 1;
        border-radius: 4px;
        background: var(--white);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        flex-shrink: 0;
        z-index: var(--z-index--100);
    }
    &__icon {
        width: 17px;
        aspect-ratio: 1;
        fill: var(--gray_main);
    }
    &__field {
        display: flex;
        width: 100%;
        padding-right: 24px;
    }
    &__input {
        display: block;
        width: 100%;
        min-width: 100px;
        border: none;
        &:focus {
            outline: none;
        }
    }
    &__clear {
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        background: none;
        width: 12px;
        aspect-ratio: 1;
        border: none;
        cursor: pointer;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 12px;
            border-top: 2px solid var(--gray_main);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
    &--show {
        width: 100%;
    }
}
